/* Navbar.css */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #16181c;
    color: white;
    border-bottom: solid 1px #757575;
    padding: 0px 50px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .navbar .logoimg{
    width: 150px;
    margin: 0;
    
  }
    
  
  .navbar .logo {
    font-size: 1.5rem;
    margin: 0;
  }
  
  .navbar .logo a {
    color: white;
    text-decoration: none;
  }
  

  
  .navbar .categories select {
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    width: 170px;
    border-radius: 15px;
    background-color: #282c34;
    color:#00B212;
    border:solid 1px #00B212 ;
  }
  .categories option {
    background-color: black;
    color: white;
    padding: 8px;
  }
  
  /* Optional: Hover effect for the select dropdown */
  .categories select:hover {
    background-color: #333;
  }
  
  .categories select option:hover {
    background-color: #444;
  }
  /* .options{
    background-color: aliceblue;
  } */
  .custom-select-container {
    position: relative;
    width: 200px;
  }
  
  .custom-select {
    position: relative;
    cursor: pointer;
  }
  
  .select-trigger {
    background-color: black;
    color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
  }
  
  .options {
    display: none;
    position: absolute;
    background-color: black;
    color: white;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  .option {
    padding: 10px;
    cursor: pointer;
  }
  
  .option:hover {
    background-color: #444;
  }
    .custom-select.open .options {
    display: block;
  }
  
  @media (max-width: 767px) {
    .navbar .logoimg{
      width: 100px;
      height: 50px;
      margin: 0;
      display: block;
      position: relative;
      bottom:40px;
      left: 100px;
        
    }
    .navbar .logo {
      font-size: 1.2rem;
      margin: 0;
    }
    .navbar{
      height: 120px;
    }
  }