.home{
    margin: 10px 40px;
}
.hrrule{
    width:1200px;
    margin:40px auto;
    border: solid #bbbbbb56;
    height: 0px;
    border-top-width: 1px;
    border-bottom-width: 0px;
    
    
}
@media (max-width: 767px) {
    .home{
        margin: 5px auto;
        display: block;
    }
    .home .hrrule{
        width:300px;
        margin:20px auto;
        border: solid #ffffff15;
        height: 0px;
        border-top-width: 1px;
        border-bottom-width: 0px;
        
    }
    
}